.objective-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #444;
}

.objective-value {
    -fx-font-size: 16px;
    -fx-text-fill: #777;
}

.fitness-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #444;
}

.fitness-value {
    -fx-font-size: 18px;
    -fx-text-fill: #2ECC71;
}

.separator-vertical {
    -fx-background-color: #444444;
    -fx-background-insets: 0;
    -fx-min-width: 4px;
    -fx-max-width: 4px;
    -fx-min-height: 24px;
    -fx-max-height: 24px;
}

#footer {
    -fx-background-color: #f0f0f0;
    -fx-margin: 5;
    -fx-padding: 5;
}

#pane {
    -fx-background-color: #d3d3d3;
    -fx-border-color: grey;
    -fx-padding: 50;
}

#left {
    -fx-background-color: #f8f8f8;
    -fx-padding: 20;
    -fx-border-color: grey;
}

